.form__fieldset {
    flex-basis: 700px;
    margin: 20px;
    padding: 40px;
    border-color: rgba(128, 128, 128, 0.973);
    border-radius: 25px;
    background-color: rgb(223, 223, 223);
}

.form__legend {
    text-align: center;
    color: white;
    background-color: rgba(156, 33, 74, 0.973);
    padding: 10px 5px;
}

.form__labelText {
    color: rgba(156, 33, 74, 0.973);;
}

.form__button {
    border: none;
    background-color: rgba(156, 33, 74, 0.973);
    color: white;
    width: 100%;
    padding: 5px;
}

.form__result {
    color: rgba(156, 33, 74, 0.973);
    text-align: center;
}